.header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    min-height: 10vh;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.search{
    display:flex ;
    justify-content: center;
    width: 300px;
    gap: 5px;
    height: 30px;
    input{
        border: 1px solid black;
        padding-left: 5px;
        border-radius: 5px;
        width: 80%;
        font-size: larger;
    }
    button{
        height: 1;
        width: 15%;
        font-size: medium;
    }
    input:focus{
        border: 2px solid #26596e;
        outline: none
    }
}

.autorize{
    display: flex;
    flex-direction: column;
    gap: 10px;

    button{
        width: 100%;
    }
}

